/* RESET */


img{
    max-width: 100%;
}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
a{
	text-decoration: none;
	color: unset;
}

/* GENERAL */

/* utils */
.image-holder {
    padding: 0.2rem;

}

.image-holder.true {
    border: 3px solid #117bd1;
}

.bg-semi-black{
    background-color: #1f1f1f;
}

/* header */
.header-bottom {
    padding-top: 7.2rem;
}
.black-sony,
.black-sony-logo{
    height: 2.5rem;
}



/* bootstrap navbar classes modified */
.dropdown {
    position: static;
}

.dropdown-menu {
    width: 100%;
    text-align: center;
    border: 0;
    border-radius: 0;

}
.dropdown-menu[data-bs-popper]{
    margin: 0;
}

.dropdown-menu>li {
    display: inline-block;
}



.jumbotron{
    display: flex;
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center top;
    color: white;
    height: 35rem;
    width: 100%;
    
}

/* main */
.jumbotron.it-takes-two{
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
}

.playstation-plus{
    background-color: #bebcbb;
}

.playstation-now{
    background-color: #161c3b;
    color: white;
}

/* footer */
.footer-bg{
    background-color: #00439c;
    color: white;
}